<footer>
    <div class="footer__container">
        <div class="footer__container__contact">
            <h3>Contact</h3>
            <div><b>CSa</b></div>
            <div>Mail: <a href="mailto:matching.csa@uu.nl">matching.csa@uu.nl</a></div>
        </div>
        <div class="footer__container__info">
            <h3>Informatie</h3>
            <div><a href="https://www.uu.nl/bachelors/algemene-informatie/hoe-werkt-inschrijven/wat-is-matching">Informatie Matching</a></div>
            <div><a href="https://students.uu.nl/sites/default/files/Reglement%20inschrijving%20en%20collegegeld%202025-2026.pdf">Reglement inschrijving en collegegeld</a></div>
        </div>
        <div class="footer__container__version">
            <h3>Versie</h3>
            <div><a href="{{ nestedness }}home/sitemap.html">Sitemap</a></div>
            <div>Versienummer: <a href="{{ nestedness }}home/changelog.html">{{ props.version }}</a></div>
            <div>Gemaakt met deze <a href="https://github.com/uu-asc/naslagwerk">tool</a></div>
        </div>
    </div>
    <div class="footer__logo">
        <img alt="Universiteit Utrecht" src="https://raw.githubusercontent.com/uu-asc/naslagwerk/master/static/logo_uu/UU_logo_2021_NL_WIT.png"
            width=320>
    </div>
</footer>
