/* ___________________________________________________________ */
/*                            IFRAMES                          */
/* ___________________________________________________________ */
.iframe__container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
}
.iframe__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
