/* ___________________________________________________________ */
/*                      CUSTOM FORMATTING                      */
/* ___________________________________________________________ */
.table__container {
    overflow-x: auto;
    margin: var(--margin-sides);
}
table.matchingsdata {
    /* table-layout: fixed; */
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--color-lines, Gainsboro);
}
.matchingsdata th, .matchingsdata td {
    border-style: none;
    word-wrap: break-word;
}
.matchingsdata th {
    text-align: left;
    color: white;
    background-color: var(--color-tab, LightSteelBlue);
    border-bottom: 1px solid var(--color-lines, Gainsboro);
}
.matchingsdata th, .matchingsdata td {
    padding: 0.5em;
}
.matchingsdata tr {
    background: white;
}
.matchingsdata tr:hover {
    background: var(--color-hover, GhostWhite)
}
