<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="styles_base.css">
    </head>
    <body>
        <h1>At length did cross an Albatross</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h1>Thorough the fog it came</h1>
        <p>I closed my lids, and kept them close, and the balls like pulses beat; for the sky and the sea, and the sea and the sky lay dead like a load on my weary eye, and the dead were at my feet.</p>
        <ol>
            <li>Cranberry</li>
            <li>Pomegranate</li>
            <li>Guave</li>
            <li>Cantaloupe</li>
        </ol>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h3>As if it had been a Christian soul</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h2>We hailed it in God's name</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <ul>
            <li>Legumes</li>
                <ul>
                    <li>Azuki beans</li>
                    <li>Lentils</li>
                    <li>Garbanzos</li>
                </ul>
            <li>Fennel</li>
            <li>Greens</li>
                <ol>
                    <li>Basil</li>
                    <li>Cilantro</li>
                    <li>Rosemary</li>
                </ol>
            <li>Squashes</li>
                <ul>
                    <li>Cucumber</li>
                    <li>Courgette</li>
                    <li>Pumpkin</li>
                </ul>
        </ul>
        <h1>I looked upon the rotting sea</h1>
        <p>And drew my eyes away; I looked upon the rotting deck, And there the dead men lay. I looked to heaven, and tried to pray; But or ever a prayer had gusht, a wicked whisper came, and made my heart as dry as dust.</p>
    </body>
</html>
