<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="styles_base.css">
        <link rel="stylesheet" href="styles_snippet_flextable.css">
    </head>
    <body>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="flextable" style="grid-template-columns: repeat(3, auto)">

            <div class="flextable__header">Triplicity</div>
            <div class="flextable__header">Figures Involved</div>
            <div class="flextable__header">Interpretation</div>

            <div class="flextable__item">
                <div class="flextable__category">Triplicity</div>
                <div>First Triplicity</div>
            </div>
            <div class="flextable__item">
                <div class="flextable__category">Figures Involved</div>
                <div>First Mother, Second Mother, First Niece</div>
            </div>
            <div class="flextable__item flextable__item__end-of-row">
                <div class="flextable__category">Interpretation</div>
                <div>The querent's health, disposition, outlooks, and habits.  Current trends in the querent's life.</div>
            </div>

            <div class="flextable__item">
                <div class="flextable__category">Triplicity</div>
                <div>Second Triplicity</div>
            </div>
            <div class="flextable__item">
                <div class="flextable__category">Figures Involved</div>
                <div>Third Mother, Fourth Mother, Second Niece</div>
            </div>
            <div class="flextable__item flextable__item__end-of-row">
                <div class="flextable__category">Interpretation</div>
                <div>The influences in the querent's life at the time of the reading.  Factors that shape the querent's life and the situation surrounding the query.</div>
            </div>

            <div class="flextable__item">
                <div class="flextable__category">Triplicity</div>
                <div>Third Triplicity</div>
            </div>
            <div class="flextable__item">
                <div class="flextable__category">Figures Involved</div>
                <div>First Daughter, Second Daughter, Third Niece</div>
            </div>
            <div class="flextable__item flextable__item__end-of-row">
                <div class="flextable__category">Interpretation</div>
                <div>The places most frequented by the querent, including the home and the workplace.  People and objects found at those places.  Family, partners, and housemates of the querent. </div>
            </div>

            <div class="flextable__item">
                <div class="flextable__category">Triplicity</div>
                <div>Fourth Triplicity</div>
            </div>
            <div class="flextable__item">
                <div class="flextable__category">Figures Involved</div>
                <div>Third Daughter, Fourth Daughter, Fourth Niece</div>
            </div>
            <div class="flextable__item flextable__item__last-row">
                <div class="flextable__category">Interpretation</div>
                <div>Friends, associates, coworkers, colleagues of the querent, as well as people in authority over the querent.  Situations and factors caused by external sources.</div>
            </div>
        </div>
    </body>
</html>
